body {
    font-family: 'Open Sans', sans-serif;
    background: url('background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.dashboard-container  {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"], input[type="password"] {
    display: block;
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 12px 15px;
    border: none;
    background-color: #7373E3;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.logout {
    margin-top: 10px;
    width: 30%;
    padding: 12px 15px;
    border: none;
    background: rgb(214, 71, 71);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.logout:hover {
    background: #e82a2a;
}

button:hover {
    background-color: #81B2F4;
}

.error {
    color: red;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
}
