html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 30px;
}

/* Navigation */
nav {
    text-align: center;
    background-color: #333;
    padding: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

/* Hero Section */
.hero-section {
    background-color: #f9f9f9;
    padding: 50px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-content p {
    font-size: 20px;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.hero-content h3 {
    font-size: 24px;
    margin-bottom: 0;
}


.hero-content img {
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* About Section */
.about-section {
    padding: 10px 5px; 
    background-color: #fff;
}

.about-content {
    max-width: 90%; 
    margin: 0 auto; 
}
.about-text {
    column-count: 2;
    column-gap: 20px;
    padding: 0;
}

.about-text p {
    text-align: justify;
    font-size: 20px;
    margin: 0; 
}


/* Gallery Section */
.gallery-section {
    padding: 100px;
    background-color: #f4f4f4;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.gallery-grid  .image-container {
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.footer-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Membuat gambar berbentuk lingkaran */
    object-fit: cover; /* Menyesuaikan gambar agar proporsional dalam lingkaran */
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    top: -17px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2); 
}

/* Media Queries */
@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .hero-content {
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .about-text {
        column-count: 1;
    }

    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}